@import './sizes';
@import './colors';

// Basic configuration
body {
  font-family: 'Rubik', -apple-system, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: var(--fz-text);
  font-weight: normal;

  background: var(--color-neutral-30);
  color: var(--color-neutral-700);
}

// Resetting
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Scrollbar
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-50);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-70);
}