:root {
  --color-primary-101: #E4EDFC;
  --color-primary-200: #CADAF9;
  --color-primary-300: #ABBFEE;
  --color-primary-400: #8FA5DE;
  --color-primary-500: #6A82C8;
  --color-primary-600: #4D63AC;
  --color-primary-700: #354790;
  --color-primary-800: #213074;
  --color-primary-900: #141F60;
  --color-green-100: #CEFBD3;
  --color-green-200: #9FF8B2;
  --color-green-300: #6CEA94;
  --color-green-400: #46D682;
  --color-green-500: #14BC6B;
  --color-green-600: #0EA169;
  --color-green-700: #0A8764;
  --color-green-800: #066D5A;
  --color-green-900: #035A53;
  --color-blue-100: #DFF9FE;
  --color-blue-200: #C0F0FE;
  --color-blue-300: #A0E2FD;
  --color-blue-400: #88D3FB;
  --color-blue-500: #61BCF9;
  --color-blue-600: #4694D6;
  --color-blue-700: #306FB3;
  --color-blue-800: #1E4E90;
  --color-blue-900: #123777;
  --color-yellow-100: #FFFBD7;
  --color-yellow-200: #FFF5AF;
  --color-yellow-300: #FFEE87;
  --color-yellow-400: #FFE869;
  --color-yellow-500: #FFDD38;
  --color-yellow-600: #DBB928;
  --color-yellow-700: #B7971C;
  --color-yellow-800: #937611;
  --color-yellow-900: #7A5F0A;
  --color-red-100: #FFE5DA;
  --color-red-200: #FFC5B5;
  --color-red-300: #FF9E90;
  --color-red-400: #FF7A75;
  --color-red-500: #FF4750;
  --color-red-600: #DB334A;
  --color-red-700: #B72345;
  --color-red-800: #93163E;
  --color-red-900: #7A0D39;
  --color-white-100: #FAFAFB;
  --color-white-200: #F6F6F7;
  --color-gray-100: #E7E7E9;
  --color-gray-200: #D1D1D4;
  --color-gray-300: #B5B5B8;
  --color-black-100: #212121;
  --color-black-200: #1C1818;
  --color-black-300: #171011;
}

